.sub_visual {
    z-index: -1;
    font-size: 1rem;
    height: 32rem;
    width: 100%;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .sub_visual.st_1 .sv_img {
    background-image: url("/resources/assets/img/sub/sub_visual11.jpg");
  }
  .sub_visual.st_1.int .sv_img {
    background-image: url("/resources/assets/img/sub/sub_visual11.jpg");
    background-position: right center;
  }
  .sub_visual.st_1.pm .sv_img {
    background-image: url("/resources/assets/img/sub/sub_visual11.jpg");
  }
  .sub_visual.st_2 .sv_img {
    background-image: url("/resources/assets/img/sub/sub_visual02.jpg");
  }
  .sub_visual.st_2.int .sv_img {
    background-image: url("/resources/assets/img/sub/sub_visual02.jpg");
    background-position: right center;
  }
  .sub_visual.st_2.pm .sv_img {
    background-image: url("/resources/assets/img/sub/sub_visual02.jpg");
  }
  .sub_visual.st_3 .sv_img {
    background-image: url("/resources/assets/img/sub/sub_visual03.jpg");
  }
  .sub_visual.st_3.int .sv_img {
    background-image: url("/resources/assets/img/sub/sub_visual03.jpg");
    background-position: right center;
  }
  .sub_visual.st_3.pm .sv_img {
    background-image: url("/resources/assets/img/sub/sub_visual03.jpg");
  }
  .sub_visual.st_4 .sv_img {
    background-image: url("/resources/assets/img/sub/sub_visual04.jpg");
  }
  .sub_visual.st_4.int .sv_img {
    background-image: url("/resources/assets/img/sub/sub_visual04.jpg");
    background-position: right center;
  }
  .sub_visual.st_4.pm .sv_img {
    background-image: url("/resources/assets/img/sub/sub_visual04.jpg");
  }
  .sub_visual.st_5 .sv_img {
    background-image: url("/resources/assets/img/sub/sub_visual05.jpg");
  }
  .sub_visual.st_5.int .sv_img {
    background-image: url("/resources/assets/img/sub/sub_visual05.jpg");
    background-position: right center;
  }
  .sub_visual.st_5.pm .sv_img {
    background-image: url("/resources/assets/img/sub/sub_visual05.jpg");
  }
  .sub_visual.st_6 .sv_img {
    background-image: url("/resources/assets/img/sub/sub_visual06_1.jpg");
  }
  .sub_visual.st_6.int .sv_img {
    background-image: url("/resources/assets/img/sub/sub_visual06_1.jpg");
    background-position: right center;
  }
  .sub_visual.st_6.pm .sv_img {
    background-image: url("/resources/assets/img/sub/sub_visual06_1.jpg");
  }
  .sub_visual.st_7 .sv_img {
    background-image: url("/resources/assets/img/sub/sub_visual07_1.jpg");
  }
  .sub_visual.st_7.int .sv_img {
    background-image: url("/resources/assets/img/sub/sub_visual07_1.jpg");
    background-position: right center;
  }
  .sub_visual.st_7.pm .sv_img {
    background-image: url("/resources/assets/img/sub/sub_visual08.jpg");
  }
  .sub_visual.st_8 .sv_img {
    background-image: url("/resources/assets/img/sub/sub_visual08.jpg");
  }
  .sub_visual.st_8.int .sv_img {
    background-image: url("/resources/assets/img/sub/sub_visual08.jpg");
    background-position: right center;
  }
  .sub_visual.st_8.pm .sv_img {
    background-image: url("/resources/assets/img/sub/sub_visual07_1.jpg");
  }

  .sub_visual.st_9 .sv_img {
    background-image: url("/resources/assets/img/sub/sub_visual09.jpg");
  }
  .sub_visual.st_9.int .sv_img {
    background-image: url("/resources/assets/img/sub/sub_visual09.jpg");
    background-position: right center;
  }
  .sub_visual.st_9.pm .sv_img {
    background-image: url("/resources/assets/img/sub/sub_visual09.jpg");
  }

  .sub_visual.st_10 .sv_img {
    background-image: url("/resources/assets/img/sub/sub_visual10.png");
  }
  .sub_visual.st_10.int .sv_img {
    background-image: url("/resources/assets/img/sub/sub_visual10.png");
    background-position: right center;
  }
  .sub_visual.st_10.pm .sv_img {
    background-image: url("/resources/assets/img/sub/sub_visual10.png");
  }
  .sub_visual.st_1.cs .sv_img {
    background-image: url("/resources/assets/images/sub/sub_visual_cs01.jpg");
  }
  .sub_visual.st_2.cs .sv_img {
    background-image: url("/resources/assets/images/sub/sub_visual_cs02.jpg");
  }
  .sub_visual.st_3.cs .sv_img {
    background-image: url("/resources/assets/images/sub/sub_visual_cs03.jpg");
  }
  .sub_visual.st_4.cs .sv_img {
    background-image: url("/resources/assets/images/sub/sub_visual_cs04.jpg");
  }
  .sub_visual.st_1.lft .sv_img {
    background-image: url("/resources/assets/images/sub/sub_visual_lft01.jpg");
  }
  .sub_visual.st_2.lft .sv_img {
    background-image: url("/resources/assets/images/sub/sub_visual_lft02.jpg");
  }
  .sub_visual.st_3.lft .sv_img {
    background-image: url("/resources/assets/images/sub/sub_visual_lft03.jpg");
  }
  .sub_visual.st_4.lft .sv_img {
    background-image: url("/resources/assets/images/sub/sub_visual_lft04.jpg");
  }
  .sub_visual .move_scroll {
    display: none;
  }
  .sub_visual.ios {
    position: relative !important;
  }
  .sub_visual.txt {
    height: auto;
    position: relative;
  }
  .sub_visual.txt .location {
    padding-top: 6em;
  }
  .sub_visual.txt:not(.left) .sv_img {
    display: none;
  }
  .sub_visual.txt:not(.left) .sv_text_box {
    color: #222;
    display: none;
  }
  .sub_visual.left {
    position: fixed;
    top: 0;
    left: 0;
    width: 34.375em;
    height: 100%;
    z-index: 10;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-top: 6.25em;
    padding-bottom: 6.25em;
  }
  .sub_visual.left .sv_img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: none !important;
    background-image: url("/resources/assets/images/sub/sub_visual_left.jpg");
  }
  .sub_visual.left .sv_tit {
    font-size: 3.375em;
  }
  .sub_visual.left .sv_txt {
    margin-top: 1.2em;
    line-height: 1.5;
    font-weight: 400;
    position: relative;
  }
  .sub_visual.left .sv_text_box {
    max-width: 340px;
    width: 100%;
    margin-left: auto;
    margin-right: 0;
  }
  .sub_visual.left .location {
    position: static;
    padding-top: 0;
    margin-top: 3.5em;
    margin-bottom: 2.5em;
  }
  .sub_visual.left .location .wrap {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
  .sub_visual.left .location .home {
    padding-left: 0;
  }
  .sub_visual.left ~ #con, .sub_visual.left ~ .ft {
    padding-left: 34.375rem;
  }
  .sub_visual.left ~ #con {
    padding-top: 6em;
    min-height: calc(var(--vh, 1vh) * 100 - 19.75rem);
  }
  .sub_visual.left ~ #con > .wrap,
  .sub_visual.left ~ #con .fixed_status > .wrap {
    padding-left: 3.5rem;
    margin-right: auto;
    margin-left: 0;
    max-width: 1151px;
  }
  @media screen and (max-width: 800px) {
    .sub_visual.left ~ #con > .wrap,
  .sub_visual.left ~ #con .fixed_status > .wrap {
      padding-left: 1rem;
    }
  }
  .sub_visual.left ~ #con .fixed_status > .wrap > .statusBar > .inner {
    background-color: #f6f6f6;
  }
  @media screen and (max-width: 1440px) {
    .sub_visual.left {
      position: relative;
      width: 100%;
      height: auto;
    }
    .sub_visual.left ~ #con, .sub_visual.left ~ .ft {
      padding-left: 0;
    }
    .sub_visual.left ~ #con {
      padding-top: 3.5em;
    }
    .sub_visual.left ~ #con > .wrap,
  .sub_visual.left ~ #con .fixed_status > .wrap {
      max-width: 92.5rem;
      padding-left: 1.25rem;
    }
    .sub_visual.left .sv_img {
      background-image: url("/resources/assets/images/sub/sub_visual_left_m.jpg") !important;
    }
    .sub_visual.left.lft.st_1 .sv_img {
      background-image: url("/resources/assets/images/sub/sub_visual_lft01_m.jpg?var=2") !important;
    }
    .sub_visual.left.lft.st_2 .sv_img {
      background-image: url("/resources/assets/images/sub/sub_visual_lft02_m.jpg?var=2") !important;
    }
    .sub_visual.left.lft.st_3 .sv_img {
      background-image: url("/resources/assets/images/sub/sub_visual_lft03_m.jpg?var=2") !important;
    }
    .sub_visual.left.lft.st_4 .sv_img {
      background-image: url("/resources/assets/images/sub/sub_visual_lft04_m.jpg?var=2") !important;
    }
    .sub_visual.left .sv_text_box {
      max-width: none;
      margin-left: 0;
      margin-top: 7.5rem;
    }
    .sub_visual.left .sv_text_box br {
      display: none;
    }
  }
  @media screen and (max-width: 800px) {
    .sub_visual.left .sv_txt {
      margin-top: 1em;
    }
  }
  .sub_visual.full {
    position: relative;
    height: calc(var(--vh, 1vh) * 100);
    transition: all 0.01s;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 0;
  }
  .sub_visual.full ~ .move_scroll {
    display: block;
  }
  .sub_visual.full .sv_img {
    background-image: url("/resources/assets/images/sub/sub_visual_full05.jpg");
    height: 100%;
  }
  .sub_visual.full.st_1 .sv_img {
    background-image: url("/resources/assets/images/sub/sub_visual_full01.jpg?var=2");
  }
  @media screen and (max-width: 800px) {
    .sub_visual.full.st_1 .sv_img {
      background-image: url("/resources/assets/images/sub/sub_visual_full01_m.jpg?var=2");
    }
  }
  .sub_visual.full.st_2 .sv_img {
    background-image: url("/resources/assets/images/sub/sub_visual_full02.jpg?var=2");
  }
  @media screen and (max-width: 800px) {
    .sub_visual.full.st_2 .sv_img {
      background-image: url("/resources/assets/images/sub/sub_visual_full02_m.jpg?var=2");
    }
  }
  .sub_visual.full.st_3 .sv_img {
    background-image: url("/resources/assets/images/sub/sub_visual_full03.jpg?var=2");
  }
  @media screen and (max-width: 800px) {
    .sub_visual.full.st_3 .sv_img {
      background-image: url("/resources/assets/images/sub/sub_visual_full03_m.jpg?var=2");
    }
  }
  .sub_visual.full.st_4 .sv_img {
    background-image: url("/resources/assets/images/sub/sub_visual_full04.jpg?var=2");
  }
  @media screen and (max-width: 800px) {
    .sub_visual.full.st_4 .sv_img {
      background-image: url("/resources/assets/images/sub/sub_visual_full04_m.jpg?var=2");
    }
  }
  .sub_visual.full.st_5 .sv_img {
    background-image: url("/resources/assets/images/sub/sub_visual_full05.jpg?var=2");
  }
  @media screen and (max-width: 800px) {
    .sub_visual.full.st_5 .sv_img {
      background-image: url("/resources/assets/images/sub/sub_visual_full05_m.jpg?var=2");
    }
  }
  .sub_visual.full.st_6 .sv_img {
    background-image: url("/resources/assets/images/sub/sub_visual_full06.jpg?var=2");
  }
  @media screen and (max-width: 800px) {
    .sub_visual.full.st_6 .sv_img {
      background-image: url("/resources/assets/images/sub/sub_visual_full06_m.jpg?var=2");
    }
  }
  .sub_visual.full.st_7 .sv_img {
    background-image: url("/resources/assets/images/sub/sub_visual_full07.jpg?var=2");
  }
  @media screen and (max-width: 800px) {
    .sub_visual.full.st_7 .sv_img {
      background-image: url("/resources/assets/images/sub/sub_visual_full07_m.jpg?var=2");
    }
  }
  .sub_visual.full.st_8 .sv_img {
    background-image: url("/resources/assets/images/sub/sub_visual_full08.jpg?var=2");
  }
  @media screen and (max-width: 800px) {
    .sub_visual.full.st_8 .sv_img {
      background-image: url("/resources/assets/images/sub/sub_visual_full08_m.jpg?var=2");
    }
  }
  .sub_visual.full.st_9 .sv_img {
    background-image: url("/resources/assets/images/sub/sub_visual_full09.jpg?var=2");
  }
  @media screen and (max-width: 800px) {
    .sub_visual.full.st_9 .sv_img {
      background-image: url("/resources/assets/images/sub/sub_visual_full09_m.jpg?var=2");
    }
  }
  .sub_visual.full.st_10 .sv_img {
    background-image: url("/resources/assets/images/sub/sub_visual_full10.jpg?var=2");
  }
  @media screen and (max-width: 800px) {
    .sub_visual.full.st_10 .sv_img {
      background-image: url("/resources/assets/images/sub/sub_visual_full10_m.jpg?var=2");
    }
  }
  .sub_visual.full.st_11 .sv_img {
    background-image: url("/resources/assets/images/sub/sub_visual_full11.jpg?var=2");
  }
  @media screen and (max-width: 800px) {
    .sub_visual.full.st_11 .sv_img {
      background-image: url("/resources/assets/images/sub/sub_visual_full11_m.jpg?var=2");
    }
  }
  .sub_visual.full.st_12 .sv_img {
    background-image: url("/resources/assets/images/sub/sub_visual_full12.jpg?var=2");
  }
  @media screen and (max-width: 800px) {
    .sub_visual.full.st_12 .sv_img {
      background-image: url("/resources/assets/images/sub/sub_visual_full12_m.jpg?var=2");
    }
  }
  .sub_visual.full.st_13 .sv_img {
    background-image: url("/resources/assets/images/sub/sub_visual_full13.jpg?var=2");
  }
  @media screen and (max-width: 800px) {
    .sub_visual.full.st_13 .sv_img {
      background-image: url("/resources/assets/images/sub/sub_visual_full13_m.jpg?var=2");
    }
  }
  .sub_visual.full.st_14 .sv_img {
    background-image: url("/resources/assets/images/sub/sub_visual_full14.jpg?var=2");
  }
  @media screen and (max-width: 800px) {
    .sub_visual.full.st_14 .sv_img {
      background-image: url("/resources/assets/images/sub/sub_visual_full14_m.jpg?var=2");
    }
  }
  .sub_visual.full.st_15 .sv_img {
    background-image: url("/resources/assets/images/sub/sub_visual_full15.jpg?var=2");
  }
  @media screen and (max-width: 800px) {
    .sub_visual.full.st_15 .sv_img {
      background-image: url("/resources/assets/images/sub/sub_visual_full15_m.jpg?var=2");
    }
  }
  .sub_visual.full.st_16 .sv_img {
    background-image: url("/resources/assets/images/sub/sub_visual_full16.jpg?var=2");
  }
  @media screen and (max-width: 800px) {
    .sub_visual.full.st_16 .sv_img {
      background-image: url("/resources/assets/images/sub/sub_visual_full16_m.jpg?var=2");
    }
  }
  .sub_visual.full.st_17 .sv_img {
    background-image: url("/resources/assets/images/sub/sub_visual_full17.jpg?var=2");
  }
  @media screen and (max-width: 800px) {
    .sub_visual.full.st_17 .sv_img {
      background-image: url("/resources/assets/images/sub/sub_visual_full17_m.jpg?var=2");
    }
  }
  .sub_visual.full.st_18 .sv_img {
    background-image: url("/resources/assets/images/sub/sub_visual_full18.jpg?var=2");
  }
  @media screen and (max-width: 800px) {
    .sub_visual.full.st_18 .sv_img {
      background-image: url("/resources/assets/images/sub/sub_visual_full18_m.jpg?var=2");
    }
  }
  .sub_visual.full.st_19 .sv_img {
    background-image: url("/resources/assets/images/sub/sub_visual_full19.jpg?var=2");
  }
  @media screen and (max-width: 800px) {
    .sub_visual.full.st_19 .sv_img {
      background-image: url("/resources/assets/images/sub/sub_visual_full19_m.jpg?var=2");
    }
  }
  .sub_visual.full.business.st_1 .sv_img {
    background-image: url("/resources/assets/images/sub/business/sub_visual01.jpg?var=2");
  }
  @media screen and (max-width: 800px) {
    .sub_visual.full.business.st_1 .sv_img {
      background-image: url("/resources/assets/images/sub/business/sub_visual01_m.jpg?var=2");
    }
  }
  .sub_visual.full.business.st_2 .sv_img {
    background-image: url("/resources/assets/images/sub/business/sub_visual02.jpg?var=2");
  }
  @media screen and (max-width: 800px) {
    .sub_visual.full.business.st_2 .sv_img {
      background-image: url("/resources/assets/images/sub/business/sub_visual02_m.jpg?var=2");
    }
  }
  .sub_visual.full.business.st_3 .sv_img {
    background-image: url("/resources/assets/images/sub/business/sub_visual03.jpg?var=2");
  }
  @media screen and (max-width: 800px) {
    .sub_visual.full.business.st_3 .sv_img {
      background-image: url("/resources/assets/images/sub/business/sub_visual03_m.jpg?var=2");
    }
  }
  .sub_visual.full.business.st_4 .sv_img {
    background-image: url("/resources/assets/images/sub/business/sub_visual04.jpg?var=2");
  }
  @media screen and (max-width: 800px) {
    .sub_visual.full.business.st_4 .sv_img {
      background-image: url("/resources/assets/images/sub/business/sub_visual04_m.jpg?var=2");
    }
  }
  .sub_visual.full.business.st_5 .sv_img {
    background-image: url("/resources/assets/images/sub/business/sub_visual05.jpg?var=2");
  }
  @media screen and (max-width: 800px) {
    .sub_visual.full.business.st_5 .sv_img {
      background-image: url("/resources/assets/images/sub/business/sub_visual05_m.jpg?var=2");
    }
  }
  .sub_visual.full.business.st_6 .sv_img {
    background-image: url("/resources/assets/images/sub/business/sub_visual06.jpg?var=2");
  }
  @media screen and (max-width: 800px) {
    .sub_visual.full.business.st_6 .sv_img {
      background-image: url("/resources/assets/images/sub/business/sub_visual06_m.jpg?var=2");
    }
  }
  .sub_visual.full.business.st_7 .sv_img {
    background-image: url("/resources/assets/images/sub/business/sub_visual07.jpg?var=2");
  }
  @media screen and (max-width: 800px) {
    .sub_visual.full.business.st_7 .sv_img {
      background-image: url("/resources/assets/images/sub/business/sub_visual07_m.jpg?var=2");
    }
  }
  .sub_visual.full.business.st_8 .sv_img {
    background-image: url("/resources/assets/images/sub/business/sub_visual08.jpg?var=2");
  }
  @media screen and (max-width: 800px) {
    .sub_visual.full.business.st_8 .sv_img {
      background-image: url("/resources/assets/images/sub/business/sub_visual08_m.jpg?var=2");
    }
  }
  .sub_visual.full.business.st_9 .sv_img {
    background-image: url("/resources/assets/images/sub/business/sub_visual09.jpg?var=2");
  }
  @media screen and (max-width: 800px) {
    .sub_visual.full.business.st_9 .sv_img {
      background-image: url("/resources/assets/images/sub/business/sub_visual09_m.jpg?var=2");
    }
  }
  .sub_visual.full.business.st_10 .sv_img {
    background-image: url("/resources/assets/images/sub/business/sub_visual10.jpg?var=2");
  }
  @media screen and (max-width: 800px) {
    .sub_visual.full.business.st_10 .sv_img {
      background-image: url("/resources/assets/images/sub/business/sub_visual10_m.jpg?var=2");
    }
  }
  .sub_visual.full.business.st_11 .sv_img {
    background-image: url("/resources/assets/images/sub/business/sub_visual11.jpg?var=2");
  }
  @media screen and (max-width: 800px) {
    .sub_visual.full.business.st_11 .sv_img {
      background-image: url("/resources/assets/images/sub/business/sub_visual11_m.jpg?var=2");
    }
  }
  .sub_visual.full.business.st_12 .sv_img {
    background-image: url("/resources/assets/images/sub/business/sub_visual12.jpg?var=2");
  }
  @media screen and (max-width: 800px) {
    .sub_visual.full.business.st_12 .sv_img {
      background-image: url("/resources/assets/images/sub/business/sub_visual12_m.jpg?var=2");
    }
  }
  .sub_visual.full.business.st_13 .sv_img {
    background-image: url("/resources/assets/images/sub/business/sub_visual13.jpg?var=2");
  }
  @media screen and (max-width: 800px) {
    .sub_visual.full.business.st_13 .sv_img {
      background-image: url("/resources/assets/images/sub/business/sub_visual13_m.jpg?var=2");
    }
  }
  .sub_visual.full.business.st_14 .sv_img {
    background-image: url("/resources/assets/images/sub/business/sub_visual14.jpg?var=2");
  }
  @media screen and (max-width: 800px) {
    .sub_visual.full.business.st_14 .sv_img {
      background-image: url("/resources/assets/images/sub/business/sub_visual14_m.jpg?var=2");
    }
  }
  .sub_visual.full.business.st_15 .sv_img {
    background-image: url("/resources/assets/images/sub/business/sub_visual15.jpg?var=2");
  }
  @media screen and (max-width: 800px) {
    .sub_visual.full.business.st_15 .sv_img {
      background-image: url("/resources/assets/images/sub/business/sub_visual15_m.jpg?var=2");
    }
  }
  .sub_visual.full.business.st_16 .sv_img {
    background-image: url("/resources/assets/images/sub/business/sub_visual16.jpg?var=2");
  }
  @media screen and (max-width: 800px) {
    .sub_visual.full.business.st_16 .sv_img {
      background-image: url("/resources/assets/images/sub/business/sub_visual16_m.jpg?var=2");
    }
  }
  .sub_visual.full.business.st_17 .sv_img {
    background-image: url("/resources/assets/images/sub/business/sub_visual17.jpg?var=2");
  }
  @media screen and (max-width: 800px) {
    .sub_visual.full.business.st_17 .sv_img {
      background-image: url("/resources/assets/images/sub/business/sub_visual17_m.jpg?var=2");
    }
  }
  .sub_visual.full.business.st_18 .sv_img {
    background-image: url("/resources/assets/images/sub/business/sub_visual18.jpg?var=2");
  }
  @media screen and (max-width: 800px) {
    .sub_visual.full.business.st_18 .sv_img {
      background-image: url("/resources/assets/images/sub/business/sub_visual18_m.jpg?var=2");
    }
  }
  .sub_visual.full.business.st_19 .sv_img {
    background-image: url("/resources/assets/images/sub/business/sub_visual19.jpg?var=2");
  }
  @media screen and (max-width: 800px) {
    .sub_visual.full.business.st_19 .sv_img {
      background-image: url("/resources/assets/images/sub/business/sub_visual19_m.jpg?var=2");
    }
  }
  .sub_visual.full.business.st_20 .sv_img {
    background-image: url("/resources/assets/images/sub/business/sub_visual20.jpg?var=2");
  }
  @media screen and (max-width: 800px) {
    .sub_visual.full.business.st_20 .sv_img {
      background-image: url("/resources/assets/images/sub/business/sub_visual20_m.jpg?var=2");
    }
  }
  .sub_visual.full.business.st_21 .sv_img {
    background-image: url("/resources/assets/images/sub/business/sub_visual21.jpg?var=2");
  }
  @media screen and (max-width: 800px) {
    .sub_visual.full.business.st_21 .sv_img {
      background-image: url("/resources/assets/images/sub/business/sub_visual21_m.jpg?var=2");
    }
  }
  .sub_visual.full .sv_text_box {
    padding-bottom: 0;
    text-align: center;
  }
  .sub_visual.full .move_scroll {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-bottom: 1.5em;
    width: 5em;
    height: 5em;
    margin-left: -2.5em;
    border-radius: 50%;
    border: 1px solid #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 10;
    -moz-transition: background .3s;
    -webkit-transition: background .3s;
    -ms-transition: background .3s;
    -o-transition: background .3s;
    transition: background .3s;
    background-color: rgba(255, 255, 255, 0);
  }
  .sub_visual.full .move_scroll svg {
    -moz-animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -moz-animation-timing-function: ease-in;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -moz-animation-name: toBottom;
    -webkit-animation-name: toBottom;
    animation-name: toBottom;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -moz-animation-direction: alternate;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
  }
  .sub_visual.full .move_scroll:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  @media screen and (max-width: 1280px) {
    .sub_visual.full .move_scroll {
      width: 3.75em;
      height: 3.75em;
      margin-left: -1.875em;
    }
    .sub_visual.full .move_scroll svg {
      width: 0.9375em;
      height: 1.3125em;
    }
  }
  @media screen and (max-width: 1440px) {
    .sub_visual.full .sv_tit {
      text-align: center;
    }
  }
  @media screen and (max-width: 800px) {
    .sub_visual.full {
      padding-bottom: 5rem;
    }
    .sub_visual.full .sv_tit {
      font-size: 2.5em;
    }
  }
  .sub_visual .sv_img {
    position: fixed;
    top: 0;
    left: 0%;
    transform: rotate(0.001deg) scale(1.15) !important;
    opacity: 1 !important;
    width: 102%;
    height: 32rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: #ddd;
    transition: transform 1.5s ease-out;
    transition-duration: 1.5s !important;
  }
  .sub_visual .sv_img.aos-animate {
    width: 102%;
    transform: rotate(0.001deg) scale(1.001) !important;
  }
  .ios.sub_visual .sv_img {
    position: absolute !important;
  }
  
  .sub_visual .sv_text_box {
    width: 100%;
    text-align: left;
    color: #fff;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 92.5rem;
    padding-bottom: 3.5rem;
  }
  .sub_visual .sv_text_box.on .sv_tit,
  .sub_visual .sv_text_box.on .sv_txt {
    transform: none;
    opacity: 1;
    visibility: visible;
  }
  .sub_visual .sv_tit {
    font-size: 3.75em;
    position: relative;
    line-height: normal;
    font-weight: 800;
    transition: transform 0.85s, opacity 0.85s;
    opacity: 0;
    visibility: hidden;
    -moz-transform: translateY(50%);
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
    transform: translateY(50%);
  }
  .sub_visual .sv_txt {
    font-size: 1.25em;
    margin-top: 0.65em;
    position: relative;
    transition: transform 0.85s, opacity 0.85s;
    transition-delay: 0.425s;
    opacity: 0;
    visibility: hidden;
    -moz-transform: translateY(50%);
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
    transform: translateY(50%);
  }
  @media screen and (max-width: 1440px) {
    .sub_visual .sv_tit {
      text-align: left;
    }
    .sub_visual, .sub_visual.left {
      padding-top: 6rem;
      padding-bottom: 0;
    }
  }
  @media screen and (max-width: 1280px) {
    .sub_visual {
      height: 24.75rem;
    }
    .sub_visual.st_1 .sv_img {
      background-image: url("/resources/assets/img/sub/m_sub_visual11.png");
    }
    .sub_visual.st_1.int .sv_img {
      background-image: url("/resources/assets/img/sub/m_sub_visual11.png");

    }
    .sub_visual.st_1.pm .sv_img {
      background-image: url("/resources/assets/img/sub/m_sub_visual11.png");
    }
    .sub_visual.st_2 .sv_img {
      background-image: url("/resources/assets/img/sub/m_sub_visual02.png");
    }
    .sub_visual.st_2.int .sv_img {
      background-image: url("/resources/assets/img/sub/m_sub_visual02.png");
    }
    .sub_visual.st_2.pm .sv_img {
      background-image: url("/resources/assets/img/sub/m_sub_visual02.png");
    }
    .sub_visual.st_3 .sv_img {
      background-image: url("/resources/assets/img/sub/m_sub_visual03.png");
    }
    .sub_visual.st_3.int .sv_img {
      background-image: url("/resources/assets/img/sub/m_sub_visual03.png");
    }
    .sub_visual.st_3.pm .sv_img {
      background-image: url("/resources/assets/img/sub/m_sub_visual03.png");
    }
    .sub_visual.st_4 .sv_img {
      background-image: url("/resources/assets/img/sub/m_sub_visual04.png");
    }
    .sub_visual.st_4.int .sv_img {
      background-image: url("/resources/assets/img/sub/m_sub_visual04.png");
    }
    .sub_visual.st_4.pm .sv_img {
      background-image: url("/resources/assets/img/sub/m_sub_visual04.png");
    }
    .sub_visual.st_5 .sv_img {
      background-image: url("/resources/assets/img/sub/m_sub_visual05.png");
    }
    .sub_visual.st_5.int .sv_img {
      background-image: url("/resources/assets/img/sub/m_sub_visual05.png");
    }
    .sub_visual.st_5.pm .sv_img {
      background-image: url("/resources/assets/img/sub/m_sub_visual05.png");
    }
    .sub_visual.st_6 .sv_img {
      background-image: url("/resources/assets/img/sub/m_sub_visual06_1.png");
    }
    .sub_visual.st_6.int .sv_img {
      background-image: url("/resources/assets/img/sub/m_sub_visual06_1.png");
    }
    .sub_visual.st_6.pm .sv_img {
      background-image: url("/resources/assets/img/sub/m_sub_visual06_1.png");
    }
    .sub_visual.st_7 .sv_img {
      background-image: url("/resources/assets/img/sub/m_sub_visual07.png");
    }
    .sub_visual.st_7.int .sv_img {
      background-image: url("/resources/assets/img/sub/m_sub_visual07.png");
    }
    .sub_visual.st_7.pm .sv_img {
      background-image: url("/resources/assets/img/sub/m_sub_visual07.png");
    }
    .sub_visual.st_8 .sv_img {
      background-image: url("/resources/assets/img/sub/m_sub_visual08.png");
    }
    .sub_visual.st_8.con.full .sv_img {
      background-image: url("/resources/assets/img/sub/m_sub_visual08.png");
    }
    .sub_visual.st_8.pm .sv_img {
      background-image: url("/resources/assets/img/sub/m_sub_visual08.png");
    }
   
    .sub_visual.st_1.cs .sv_img {
      background-image: url("/resources/assets/images/sub/sub_visual_cs01_m.jpg");
    }
    .sub_visual.st_2.cs .sv_img {
      background-image: url("/resources/assets/images/sub/sub_visual_cs02_m.jpg");
    }
    .sub_visual.st_3.cs .sv_img {
      background-image: url("/resources/assets/images/sub/sub_visual_cs03_m.jpg");
    }
    .sub_visual.st_4.cs .sv_img {
      background-image: url("/resources/assets/images/sub/sub_visual_cs04_m.jpg");
    }
    .sub_visual.st_1.lft .sv_img {
      background-image: url("/resources/assets/images/sub/sub_visual_lft01_m.jpg");
    }
    .sub_visual.st_2.lft .sv_img {
      background-image: url("/resources/assets/images/sub/sub_visual_lft02_m.jpg");
    }
    .sub_visual.st_3.lft .sv_img {
      background-image: url("/resources/assets/images/sub/sub_visual_lft03_m.jpg");
    }
    .sub_visual.st_4.lft .sv_img {
      background-image: url("/resources/assets/images/sub/sub_visual_lft04_m.jpg");
    }
    .sub_visual .sv_img {
      top: 0;
      height: 24.75rem;
    }
  }
  @media screen and (max-width: 800px) {
    .sub_visual, .sub_visual.left {
      padding-top: 5rem;
    }
    .sub_visual {
      height: 19.125rem;
    }
    .sub_visual .sv_img {
      height: 19.125rem;
    }
    .sub_visual .sv_tit {
      font-size: 2.5em;
    }
    .sub_visual .sv_txt {
      font-size: 1em;
    }
    .sub_visual .sv_text_box {
      padding-bottom: 1.5em;
    }
    .sub_visual.left .sv_tit {
      font-size: 2.5em;
    }
  }
  
  @-webkit-keyframes toBottom {
    0% {
      -moz-transform: translate(0%, -25%);
      -webkit-transform: translate(0%, -25%);
      -ms-transform: translate(0%, -25%);
      -o-transform: translate(0%, -25%);
      transform: translate(0%, -25%);
    }
    100% {
      -moz-transform: translate(0%, 25%);
      -webkit-transform: translate(0%, 25%);
      -ms-transform: translate(0%, 25%);
      -o-transform: translate(0%, 25%);
      transform: translate(0%, 25%);
    }
  }
  @-ms-keyframes toBottom {
    0% {
      -moz-transform: translate(0%, -25%);
      -webkit-transform: translate(0%, -25%);
      -ms-transform: translate(0%, -25%);
      -o-transform: translate(0%, -25%);
      transform: translate(0%, -25%);
    }
    100% {
      -moz-transform: translate(0%, 25%);
      -webkit-transform: translate(0%, 25%);
      -ms-transform: translate(0%, 25%);
      -o-transform: translate(0%, 25%);
      transform: translate(0%, 25%);
    }
  }
  @-o-keyframes toBottom {
    0% {
      -moz-transform: translate(0%, -25%);
      -webkit-transform: translate(0%, -25%);
      -ms-transform: translate(0%, -25%);
      -o-transform: translate(0%, -25%);
      transform: translate(0%, -25%);
    }
    100% {
      -moz-transform: translate(0%, 25%);
      -webkit-transform: translate(0%, 25%);
      -ms-transform: translate(0%, 25%);
      -o-transform: translate(0%, 25%);
      transform: translate(0%, 25%);
    }
  }
  @keyframes toBottom {
    0% {
      -moz-transform: translate(0%, -25%);
      -webkit-transform: translate(0%, -25%);
      -ms-transform: translate(0%, -25%);
      -o-transform: translate(0%, -25%);
      transform: translate(0%, -25%);
    }
    100% {
      -moz-transform: translate(0%, 25%);
      -webkit-transform: translate(0%, 25%);
      -ms-transform: translate(0%, 25%);
      -o-transform: translate(0%, 25%);
      transform: translate(0%, 25%);
    }
  }
  .location {
    font-size: 1rem;
    position: absolute;
    left: 0%;
    top: 9.5625em;
    width: 100%;
    pointer-events: none;
    z-index: 100;
  }
  .location .lcb_mo {
    display: none;
  }
  .location .lcb_pc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .location .lcb_pc .home::after {
    display: block;
    width: 1em;
    height: 1em;
    margin-top: -1px;
    background: no-repeat center center;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='13' viewBox='0 0 12 13'%3E%3Cpath data-name='Union 1' d='M8-5558v-5H4v-3 8H0v-8l6-5 6 5v8z' transform='translate(0 5571)' style='fill:%23fff'/%3E%3C/svg%3E%0A");
  }
  .location .lcb_pc > li {
    position: relative;
    pointer-events: visible;
    padding-left: 0.5625em;
    padding-right: 0.5625em;
  }
  .location .lcb_pc > li:not(:first-child)::before {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 0;
    display: block;
    width: 0.625em;
    height: 0.625em;
    background: no-repeat center center;
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cg data-name='Group 19'%3E%3Cpath data-name='Path 27' d='M0 0h16v16H0z' style='fill:none'/%3E%3C/g%3E%3Cg data-name='Group 20'%3E%3Cpath data-name='Path 28' d='m6.23 14.151 1.181 1.18 6.673-6.665L7.411 2 6.23 3.18l5.492 5.486z' transform='translate(-2.081 -.665)' style='fill:%23fff'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-size: contain;
    transform-origin: center center;
  }
  .location .lcb_pc > li > span {
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    font-size: 0.875em;
    line-height: 1.17;
  }
  .sub_visual.txt:not(.left) .location {
    position: static;
    margin-top: 3.4375em;
  }
  .sub_visual.txt:not(.left) .location .lcb_pc .home::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='13' viewBox='0 0 12 13'%3E%3Cpath data-name='Union 1' d='M8-5558v-5H4v-3 8H0v-8l6-5 6 5v8z' transform='translate(0 5571)' style='fill:%23222222'/%3E%3C/svg%3E%0A");
  }
  .sub_visual.txt:not(.left) .location .lcb_pc > li > span {
    color: #222;
  }
  .sub_visual.txt:not(.left) .location .lcb_pc > li:not(:first-child)::before {
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cg data-name='Group 19'%3E%3Cpath data-name='Path 27' d='M0 0h16v16H0z' style='fill:none'/%3E%3C/g%3E%3Cg data-name='Group 20'%3E%3Cpath data-name='Path 28' d='m6.23 14.151 1.181 1.18 6.673-6.665L7.411 2 6.23 3.18l5.492 5.486z' transform='translate(-2.081 -.665)' style='fill:%23222'/%3E%3C/g%3E%3C/svg%3E%0A");
  }
  
  @media screen and (max-width: 1280px) {
    .location {
      display: none;
      position: absolute;
      left: 0;
      transform: none;
      top: 21.875rem;
      width: 100%;
    }
    .location .lcb_pc {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      display: none;
    }
  }
  @media screen and (max-width: 800px) {
    .location {
      pointer-events: visible;
      position: relative;
      top: 0;
      left: 0;
      transform: translate(0);
      border-bottom: 1px solid #ddd;
    }
    .location .wrap {
      padding: 0;
      opacity: 1 !important;
      transform: translate(0) !important;
    }
    .location .lcb_pc {
      display: none;
    }
    .location .lcb_mo {
      display: none;
      background-color: #fff;
      height: 4em;
    }
    .location .lcb_mo ul {
      display: none;
    }
    .location .lcb_mo li {
      position: relative;
    }
    .location .lcb_mo a {
      padding-left: 1em;
      padding-right: 1em;
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      height: 4em;
      width: 100%;
    }
    .location .lcb_mo a.no_link:after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%) rotate(90deg);
      transform-origin: center center;
      right: 1em;
      width: 1em;
      height: 1em;
      background: no-repeat center center;
      background-size: contain;
      background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cg data-name='Group 19'%3E%3Cpath data-name='Path 27' d='M0 0h16v16H0z' style='fill:none'/%3E%3C/g%3E%3Cg data-name='Group 20'%3E%3Cpath data-name='Path 28' d='m6.23 14.151 1.181 1.18 6.673-6.665L7.411 2 6.23 3.18l5.492 5.486z' transform='translate(-2.081 -.665)' style='fill:%23222'/%3E%3C/g%3E%3C/svg%3E%0A");
      transition: transform 0.3s ease-out;
    }
    .location .lcb_mo a.on:after {
      transform: translateY(-50%) rotate(-90deg);
    }
    .location .lcb_mo > ul {
      position: absolute;
      max-height: 16.65625rem;
      overflow-y: auto;
      width: 100%;
      left: 0;
      top: 100%;
      background-color: #f6f6f6;
      border-top: 1px solid #ddd;
    }
    .location .lcb_mo > ul > li {
      border-bottom: 1px solid #ddd;
    }
    .location .lcb_mo > ul > li > a.no_link:after {
      right: 1em;
      width: 0.75em;
      height: 0.75em;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13 13'%3E%3Cpath data-name='Rectangle 1 copy 6' d='M.5 5.5h12v2H.5z'  fill='%23222' stroke='transparent' stroke-miterlimit='10'/%3E%3Cpath data-name='Rectangle 1 copy 4' d='M5.5.5h2v12h-2z'  fill='%23222' stroke='transparent' stroke-miterlimit='10'/%3E%3C/svg%3E");
    }
    .location .lcb_mo > ul > li > a.on:after {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13 13'%3E%3Cpath data-name='Rectangle 1 copy 6' d='M.5 5.5h12v2H.5z' fill='%23222' stroke='transparent' stroke-miterlimit='10'/%3E%3C/svg%3E");
      transform: translateY(-50%) rotate(0);
    }
    .location .lcb_mo > ul > li > ul {
      border-top: 1px solid #ddd;
      background-color: #eee;
    }
    .location .lcb_mo > ul > li > ul > li {
      border-bottom: 0;
    }
  }
  
  [data-ani] {
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  }
  
  [data-ani=up] {
    opacity: 0;
    transform: translateY(3.125rem);
  }
  
  [data-ani=down] {
    opacity: 0;
    transform: translateY(-6.25rem);
  }
  
  [data-ani=right] {
    opacity: 0;
    transform: translateX(-6.25rem);
  }
  
  [data-ani=left] {
    opacity: 0;
    transform: translateX(3.125rem);
  }
  
  [data-ani-delay="100"] {
    transition-delay: 0.1s;
  }
  
  [data-ani-delay="200"] {
    transition-delay: 0.2s;
  }
  
  [data-ani-delay="300"] {
    transition-delay: 0.3s;
  }
  
  [data-ani-delay="400"] {
    transition-delay: 0.4s;
  }
  
  [data-ani-delay="500"] {
    transition-delay: 0.5s;
  }
  
  [data-ani-delay="600"] {
    transition-delay: 0.6s;
  }
  
  [data-ani-delay="700"] {
    transition-delay: 0.7s;
  }
  
  [data-ani-delay="800"] {
    transition-delay: 0.8s;
  }
  
  [data-ani-delay="900"] {
    transition-delay: 0.9s;
  }
  
  [data-ani-delay="1000"] {
    transition-delay: 1s;
  }
  
  [data-ani-delay="1100"] {
    transition-delay: 1.1s;
  }
  
  [data-ani-delay="1200"] {
    transition-delay: 1.2s;
  }
  
  [data-ani-delay="1300"] {
    transition-delay: 1.3s;
  }
  
  [data-ani-delay="1400"] {
    transition-delay: 1.4s;
  }
  
  [data-ani-delay="1500"] {
    transition-delay: 1.5s;
  }
  
  [data-ani-delay="1600"] {
    transition-delay: 1.6s;
  }
  
  [data-ani-delay="1700"] {
    transition-delay: 1.7s;
  }
  
  [data-ani-delay="1800"] {
    transition-delay: 1.8s;
  }
  
  [data-ani-delay="1900"] {
    transition-delay: 1.9s;
  }
  
  .con {
    position: relative;
    background-color: #fff;
    font-size: 1rem;
    word-break: keep-all;
    min-height: 25rem;
    letter-spacing: -0.025em;
    z-index: 6;
  }
  
  /* 수정 : main페이지 하단부에 padding생김 */
  /* .con:not([class*=pb_]) {
    padding-bottom: 7.5em;
  } */
  
  .con.full {
    padding-bottom: 0;
    z-index: 4;
  }
  @media screen and (max-width: 800px) {
    .con:not([class*=pb_]) {
      padding-bottom: 6em;
    }
    .con.full {
      padding-bottom: 0;
    }
  }
  
  /*con_tit, con_txt*/
  .con [class*=con_tit] {
    line-height: 1.5;
    font-weight: normal;
  }
  .con [class*=con_tit] .last {
    margin-bottom: -1em;
  }
  .con [class*=con_tit].first {
    margin-top: 0;
  }
  .con [class*=con_tit].dot {
    position: relative;
    padding-left: 1rem;
  }
  .con [class*=con_tit].dot::before {
    position: absolute;
    display: block;
    top: 0.75em;
    transform: translateY(-50%);
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 100%;
    left: 0;
    background-color: #002453;
  }
  .con [class*=con_tit].dot_c1::before {
    background-color: #0081e9;
  }
  .con [class*=con_tit].dot_c2::before {
    background-color: #002453;
  }
  .con [class*=con_tit].dot_c3::before {
    background-color: #0ec277;
  }
  .con [class*=con_tit].dot_c4::before {
    background-color: #0badf1;
  }
  .con [class*=con_tit].dot_c5::before {
    background-color: #ff5053;
  }
  .con [class*=con_tit].dot_c6::before {
    background-color: #0cbafd;
  }
  .con [class*=con_tit].dot_c7::before {
    background-color: #0059a1;
  }
  .con [class*=con_tit].dot_c8::before {
    background-color: #91c4ee;
  }
  .con [class*=con_tit].dot_c9::before {
    background-color: #e90000;
  }
  .con_tit {
    font-size: 2.25rem;
    margin-bottom: 0.6666666667em;
    margin-top: 2.2222222222em;
  }
  .con_tit2 {
    font-size: 1.625rem;
    margin-bottom: 0.9230769231em;
    margin-top: 3.0769230769em;
  }
  .con_tit3 {
    font-size: 1.125rem;
    margin-bottom: 0.8888888889em;
    margin-top: 1.3333333333em;
  }
  @media screen and (max-width: 800px) {
    .con_tit {
      font-size: 1.875rem;
      margin-top: 1.8666666667em;
      margin-bottom: 0.8em;
    }
    .con_tit2 {
      font-size: 1.25rem;
      margin-top: 2.8em;
      margin-bottom: 1.2em;
    }
    .con_tit3 {
      font-size: 1rem;
      margin-top: 1.5em;
      margin-bottom: 1em;
    }
  }
  
  .con_txt {
    font-size: 1.125rem;
    line-height: 1.67;
    margin-top: 0.6666666667em;
    margin-bottom: 0.6666666667em;
    color: #555;
  }
  .con_txt:not([class*=fw_]) {
    font-weight: 300;
  }
  .con_txt p {
    font-size: 1em;
    margin-top: 0.6666666667em;
    margin-bottom: 0.6666666667em;
  }
  .con_txt2 {
    color: #222;
    font-weight: 500;
    line-height: 1.77;
  }
  .con_txt2 p {
    font-size: 1.125rem;
    margin-top: 0.8888888889em;
    margin-bottom: 0.8888888889em;
  }
  @media screen and (max-width: 800px) {
    .con_txt {
      font-size: 1rem;
    }
    .con_txt2 p {
      font-size: 1rem;
    }
  }
  
  .con ol[class^=list_],
  .con ul[class*=list_] {
    font-size: 1.125rem;
  }
  @media screen and (max-width: 800px) {
    .con ol[class^=list_],
  .con ul[class*=list_] {
      font-size: 1rem;
    }
  }
  
  ol[class^=list_][class*=st_mt_16] li:not(:first-child),
  ul[class*=list_][class*=st_mt_16] li:not(:first-child) {
    margin-top: 0.875rem;
  }
  
  .con_link2 {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 0.2em;
  }
  .con_link2:hover {
    color: #0081e9;
  }
  .con_link3 {
    display: inline-block;
    vertical-align: middle;
    border-radius: 3.75em;
    display: inline-block;
    vertical-align: middle;
    padding: 0 1.25em 0 0.5em;
    background: #d5d5d5 no-repeat top 50% right 0.45em;
    background-size: 0.6666em auto;
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cg data-name='Group 19'%3E%3Cpath data-name='Path 27' d='M0 0h16v16H0z' style='fill:none'/%3E%3C/g%3E%3Cg data-name='Group 20'%3E%3Cpath data-name='Path 28' d='m6.23 14.151 1.181 1.18 6.673-6.665L7.411 2 6.23 3.18l5.492 5.486z' transform='translate(-2.081 -.665)' style='fill:%23222'/%3E%3C/g%3E%3C/svg%3E%0A");
  }
  .con_link3:hover {
    background-color: #0081e9;
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cg data-name='Group 19'%3E%3Cpath data-name='Path 27' d='M0 0h16v16H0z' style='fill:none'/%3E%3C/g%3E%3Cg data-name='Group 20'%3E%3Cpath data-name='Path 28' d='m6.23 14.151 1.181 1.18 6.673-6.665L7.411 2 6.23 3.18l5.492 5.486z' transform='translate(-2.081 -.665)' style='fill:%23fff'/%3E%3C/g%3E%3C/svg%3E%0A");
    color: #fff;
  }
  
  /*# sourceMappingURL=sub_con.css.map */